<h3>Reg&iacute;strate</h3>

<% if @user.errors.any? %>

  <%= @user.errors.full_messages.join("<br/>").html_safe %>
  
<% end %>

<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>

  <%= f.submit "Registrarme" %>
<% end %>
